*{
    margin: 0;
    padding: 0;
}

/* wrapper start here */
.wrapper{
    max-width: 1120px;
    margin: auto;
}

/* header start here */
header{
    background-color: rgb(63, 7, 7);
}
.header_main{
    width: 100%;
    height: 200px;
}
.header_content{
    width: 100%;
    height: 100%;
    display: flex;
}
.header_content1{
    width: 50%;
    display: flex;
}
.header_content1_1{
    width: 50%;
}
.header_content1_11{
    width: 100%;
    height: 34%;
    background-color: yellow;
}
.header_content1_12{
    width: 100%;
    height: 32%;
    background-color: red;
}
.header_content1_13{
    width: 100%;
    height: 34%;
    background-color: purple;
}
.header_content1_2{
    width: 50%;
    display: flex;
}
.header_content1_21{
    width: 34%;
    background-color: rgb(13, 6, 64);
}
.header_content1_22{
    width: 32%;
    background-color: rgb(120, 255, 169);
}
.header_content1_23{
    width: 34%;
    background-color: palevioletred;
}

/* section start here */
section{
    background-color: rgb(255, 0, 85);
}
.section_main{
    width: 100%;
    height: 600px;
}
.section_content{
    width: 100%;
    height: 100%;
}
.section_content1{
    width: 100%;
    height: 50%;
    display: flex;
}
.section_content1_1{
    width: 33.5%;
    height: 100%;
    background-color: green;
}
.section_content1_11{
    width: 100%;
    height: 33.5%;
    display: flex;
}
.section_content1_111{
    width: 50%;
    background-color: burlywood;
}
.section_content1_112{
    width: 50%;
    background-color: rgb(50, 205, 117);
}
.section_content1_12{
    width: 100%;
    height: 33%;
    display: flex;
}
.section_content1_121{
    width: 33.5%;
    background-color: palevioletred;
}
.section_content1_122{
    width: 33%;
    background-color: skyblue;
}
.section_content1_123{
    width: 33.5%;
    background-color: rgb(63, 7, 7);
}
.section_content1_13{
    width: 100%;
    height: 33.5%;
    display: flex;
}
.section_content1_131{
    width: 50%;
    background-color: gray;
}
.section_content1_132{
    width: 50%;
    background-color: green;
}
.section_content1_2{
    width: 33.5%;
    background-color: rgb(80, 107, 27);
}
.section_content1_21{
    width: 100%;
    height: 40%;
    display: flex;
}
.section_content1_211{
    width: 40%;
    background-color: rgb(224, 74, 124);
}
.section_content1_212{
    width: 20%;
}
.section_content1_213{
    width: 40%;
    background-color: rgb(26, 83, 119);
}
.section_content1_22{
    width: 100%;
    height: 40%;
    display: flex;
}
.section_content1_221{
    width: 40%;
    height: 100%;
}
.section_content1_2211{
    width: 100%;
    height: 50%;
    background-color: rgb(45, 255, 45);
}
.section_content1_2212{
    width: 100%;
    height: 50%;
    background-color: rgb(26, 83, 119);
}
.section_content1_222{
    width: 40%;
    height: 100%;
    display: flex;
}
.section_content1_2221{
    width: 50%;
    height: 100%;
    background-color: rgb(7, 7, 97);
}
.section_content1_2222{
    width: 50%;
    height: 100%;
    background-color: rgb(80, 0, 80);
}
.section_content1_3{
    width: 33%;
    background-color: rgb(45, 255, 45);
}
.section_content2{
    width: 100%;
    height: 25%;
    display: flex;
}
.section_content2_1{
    width: 50%;
}
.section_content2_11{
    width: 100%;
    height: 50%;
    display: flex;
}
.section_content2_111{
    width: 25%;
    background-color: palevioletred;
}
.section_content2_112{
    width: 25%;
    background-color: rgb(224, 255, 111);
}
.section_content2_113{
    width: 25%;
    background-color: rgb(10, 42, 58);
}
.section_content2_114{
    width: 25%;
    background-color: rgb(9, 56, 210);
}
.section_content2_12{
    width: 100%;
    height: 50%;
    display: flex;
}
.section_content2_121{
    width: 33.5%;
    background-color: rgb(45, 255, 45);
}
.section_content2_122{
    width: 33%;
    background-color: rgb(80, 0, 80);
}
.section_content2_123{
    width: 33.5%;
    background-color: rgb(217, 255, 47);
}
.section_content2_2{
    width: 25%;
    display: flex;
}
.section_content2_21{
    width: 50%;
}
.section_content2_211{
    width: 100%;
    height: 50%;
    background-color: palevioletred;
}
.section_content2_212{
    width: 100%;
    height: 50%;
    background-color: rgb(90, 0, 128);
}
.section_content2_22{
    width: 50%;
    height: 100%;
    background-color: rgb(26, 83, 119);
}
.section_content2_3{
    width: 25%;
    display: flex;
}
.section_content2_31{
    width: 34%;
    background-color: rgb(27, 27, 27);
}
.section_content2_32{
    width: 32%;
    background-color: coral;
}
.section_content2_33{
    width: 34%;
    background-color: rgb(17, 17, 185);
}
.section_content3{
    width: 100%;
    height: 25%;
    display: flex;
}
.section_content3_1{
    width: 25%;
    display: flex;
}
.section_content3_11{
    width: 33.5%;
    background-color: rgb(120, 19, 19);
}
.section_content3_12{
    width: 33%;
    background-color: rgb(58, 119, 143);
}
.section_content3_13{
    width: 33.5%;
    background-color: coral;
}
.section_content3_2{
    width: 25%;
}
.section_content3_21{
    width: 100%;
    height: 25%;
    background-color: rgb(115, 17, 17);
}
.section_content3_22{
    width: 100%;
    height: 25%;
    background-color:blue;
}
.section_content3_23{
    width: 100%;
    height: 25%;
    background-color: rgb(0, 167, 167);
}
.section_content3_24{
    width: 100%;
    height: 25%;
    background-color: rgb(63, 7, 7);
}
.section_content3_3{
    width: 25%;
    display: flex;
}
.section_content3_31{
    width: 33.5%;
    background-color: aqua;
}
.section_content3_32{
    width: 33%;
    background-color: rgb(224, 255, 111);
}
.section_content3_33{
    width: 33.5%;
    background-color: pink;
}
.section_content3_4{
    width: 25%;
}
.section_content3_41{
    width: 100%;
    height: 33.5%;
    background-color: rgb(50, 67, 17);
}
.section_content3_42{
    width: 100%;
    height: 33%;
    background-color:olive;
}
.section_content3_43{
    width: 100%;
    height: 33.5%;
    background-color: orangered;
}

/* footer start here */
footer{
    background-color: rgb(63, 7, 7);
}
.footer_main{
    width: 100%;
    height: 200px;
}
.footer_content{
    width: 100%;
    height: 100%;
    display: flex;
}
.footer_content1{
    width: 50%;
    display: flex;
}
.footer_content11{
    width: 33.5%;
}
.footer_content111{
    width: 100%;
    height: 33.5%;
    background-color: rgb(128, 52, 52);
}
.footer_content112{
    width: 100%;
    height: 33%;
    background-color: rgb(184, 93, 68);
}
.footer_content113{
    width: 100%;
    height: 33.5%;
    background-color: rgb(177, 24, 24);
}
.footer_content12{
    width: 33%;
    display: flex;
}
.footer_content121{
    width: 33.5%;
    background-color:olive;
}
.footer_content122{
    width: 33.5%;
    background-color: rgb(137, 63, 184);
}
.footer_content123{
    width: 33.5%;
    background-color: rgb(212, 196, 53);
}
.footer_content13{
    width: 33.5%;
}
.footer_content131{
    width: 100%;
    height: 33.5%;
    background-color: rgb(128, 52, 52);
}
.footer_content132{
    width: 100%;
    height: 33%;
    background-color: rgb(184, 93, 68);
}
.footer_content133{
    width: 100%;
    height: 33.5%;
    background-color: rgb(177, 24, 24);
}

.footer_content2{
    width: 50%;
    display: flex;
}
.footer_content21{
    width: 33.5%;
    display: flex;
}
.footer_content211{
    width: 33.5%;
    background-color: lightgreen;
}
.footer_content212{
    width: 33%;
    background-color: rgb(66, 156, 66);
}
.footer_content213{
    width: 33.5%;
    background-color: palevioletred;
}
.footer_content22{
    width: 33%;
}
.footer_content221{
    width: 100%;
    height: 33.5%;
    background-color: aquamarine;
}
.footer_content222{
    width: 100%;
    height: 33%;
    background-color: yellowgreen;
}
.footer_content223{
    width: 100%;
    height: 33.5%;
    background-color: rgb(193, 222, 86);
}
.footer_content23{
    width: 33.5%;
    display: flex;
}
.footer_content231{
    width: 33.5%;
    background-color: pink;
}
.footer_content232{
    width: 33%;
    background-color: rgb(184, 93, 68);
}
.footer_content233{
    width: 33.5%;
    background-color: rgb(224, 255, 111);
}